[core]
cache_dir = /var/cache/mopidy
config_dir = /etc/mopidy
data_dir = /var/lib/mopidy

[logging]
config_file = /etc/mopidy/logging.conf
debug_file = /var/log/mopidy/mopidy-debug.log

[local]
media_dir = /var/lib/mopidy/media

[m3u]
playlists_dir = /var/lib/mopidy/playlists

[audio]
mixer = {{ 'alsamixer' if mopidy_alsamixer_enabled else 'software' }}
output = {{ 'alsasink' if mopidy_alsamixer_enabled else 'autoaudiosink' }}

[alsamixer]
enabled = {{ 'true' if mopidy_alsamixer_enabled else 'false' }}
card = {{ mopidy_alsamixer_card }}
control = {{ mopidy_alsamixer_control }}
min_volume = {{ mopidy_alsamixer_min_volume }}
max_volume = {{ mopidy_alsamixer_max_volume }}

[spotify]
enabled = {{ 'true' if mopidy_spotify_enabled else 'false' }}
username = {{ mopidy_spotify_username }}
password = {{ mopidy_spotify_password }}
client_id = {{ mopidy_spotify_client_id }}
client_secret = {{ mopidy_spotify_client_secret }}
